.mystyle {
    font-size: 11pt; 
    font-family: Open Sans;
    border-collapse: collapse;
    border-color: black;
    border: 0.5;
}

.mystyle td, th {
    padding: 5px;
    text-align: center;
}

.mystyle tr > *:nth-child(1) {
    display: none;
}

.mystyle th:nth-child(2) {
    background-color: #CCCCCC;
}

.mystyle th:nth-child(3) {
    background-color: #CCCCCC;
}

.mystyle th:nth-child(4) {
    background-color: #CCCCCC;
}

tr:last-child {
    font-weight: bold;
    background-color: #CCCCCC;
}
