.mystyle {
    font-size: 11pt; 
    font-family: Open Sans;
    border-collapse: collapse;
    border-color: black;
    border: 0.5;
}

.mystyle td, th {
    padding: 5px;
    text-align: center;
}

.mystyle tr > *:nth-child(1) {
    display: none;
}

.mystyle tr > *:nth-child(2) {
    display: none;
}

.mystyle th {
    background-color: #CCCCCC;
}